@import '@/assets/styles/variables.scss';

.nav {
    width: 100%;
  &_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 1133px;
    width: 100%;
  }
}
