@import '@/assets/styles/variables.scss';

.nav {
  &_li {
    &:last-child {
      .nav_link {
        padding-right: 0;
      }
    }
    &:first-child {
      .nav_link {
        padding-left: 0;
      }
    }
  }
  &_link {
    padding: 18px 14.5px;
    display: block;
    cursor: pointer;
    font-size: $t-md;
    font-weight: 500;
    line-height: 1.1em;

    &.active {
      color: $c-violet;
    }
  }
}
